 #mensagem{
    font-family: sans-serif;
    color: white;
}

#img{
    width: 80vh; 
}

body{
    margin-top: 5vh;
    background-color: #e08283;
    font-family: 'Century Gothic', sans-serif;
    text-align: center;
}
